{% extends "base.html" %}
{% load bootstrap5 %}
{% load i18n %}
{% block title %}
  {% trans "Reset Password " %}
{% endblock title %}

{% block content %}
  <div class="container">
      <div class="row">
          <div class="col-md-8 mx-auto">
            <h3 class="text-center mt-5 mb-5">{% trans "New Password" %}</h3>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-dark btn-lg btn-block mb-5" type="submit">{% trans "Save" %}</button>
            </form>
          </div>
      </div>
  </div>
{% endblock content %}