{% extends "base_generic.html" %}
{% load bootstrap5 %}
{% load i18n %}
{% block auth_content %}
<section class="vh-100 pt-3" style="background-color: #0c0c0c; height: auto">
  <div class="container py-2 p-1">
    <div class="row d-flex justify-content-center align-items-center p-0">
      <div class="col col-xl-10 p-0">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/img1.jpg"
                alt="Signup form"
                class="img-fluid" style="border-radius: 1rem 0 0 1rem;height: 100%;"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-3 text-black">
                 <form class="" method="post">
                  {% csrf_token %}
                  <div class="d-flex align-items-center mb-3 pb-1  ">
                    <img src="https://img.icons8.com/ios-glyphs/60/000000/fast-cart.png"/>
                    <span class="h1 fw-bold mb-0">{% trans "Doret Elfaleh Market" %}</span>
                  </div>
                 {% bootstrap_form form %}      
                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">{% trans "Sign up" %}</button>
                    <span class="mb-5 pb-lg-2" style="color: #393f81;">{% trans "If you've an account?" %} <a href="/customer-login/" style="color: #393f81;">{% trans "Login" %}</a></span>
                  </div> 
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
<!-- Sign Up Style -->
<style>
 
  .helptext,.form-text
  {
      display: none;
  }
  .errorlist
  {
    color: red;
  }
</style>

{% endblock auth_content%}