{% extends "base.html" %}
{% block title %}Khalti Payment{% endblock title %}
{% block scripts %}
<script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
{% endblock scripts %}
{% block content %}
    <div class="container text-center">
        <h3 class="text-center mt-3">Your Order Amount is Rs. {{order.total}}</h3>
        <button class="btn btn-info mt-5 mb-5 p-3" id="payment-button">Pay with Khalti</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var config = {
            // replace the publicKey with yours
            "publicKey": "test_public_key_dc74e0fd57cb46cd93832aee0a390234",
            "productIdentity": "Order_{{order.id}}",
            "productName": "Order_{{order.id}}",
            "productUrl": "http://localhost:8000",
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
                ],
            "eventHandler": {
                onSuccess (payload) {
                    // hit merchant api for initiating verfication
                    axios.get("/khalti-verify/",{
                        params: {
                            'token':payload.token,
                            'amount':payload.amount,
                            'order_id':"{{order.id}}"
                        }
                    }).then(function(resp){
                        if(resp.data.success == true)
                        {
                            alert("Thanks. Payment Completed Successfully")
                            location.href = '/'
                        }else{
                            alert("Sorry. Error occured")
                            location.href = '{{request.build_absolute_uri}}'
                        }
                    })
                    console.log(payload);
                },
                onError (error) {
                    console.log(error);
                },
                onClose () {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            // minimum transaction amount must be 10, i.e 1000 in paisa.
            checkout.show({amount: '{{order.total}}*100' });
        }
    </script>
{% endblock content %}