{% extends "Admins/adminbase.html" %}
{% load bootstrap5 %}
{% load i18n %}
{% block title %}
  {% trans "Update Product" %}
{% endblock title %}
{% block content %}
  <div class="container">
      <div class="col-md-10 mx-auto">
          <h3 class="text-center mt-5">{% trans "Update Product" %}</h3><hr>
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button class="btn btn-dark btn-lg btn-block mb-5" type="submit">{% trans "Add" %}</button>
          </form>
      </div>
  </div>
{% endblock content %}